//********** Advertisement title *****
.advertisement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
    margin: 60px 10px 20px;
    color: #484848;
    font-weight: 700;
}

.adTitle{
    font-size: 15px;
}

.cancelAd{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.cancelIcon{
    font-size: 24px;
}


.navigationBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 40px;
    // gap: 5px;
}

.navigationBar > div{
    border-radius: 5px;
    background-color:  #eee;
    height: 0.25rem;
    width: 18%;
}

//************ Categories Section ***********
.categories{
    // padding: 20px 10px;
    border: 1px solid #eee;
    box-shadow: none !important;
    border-radius: 10px;
}

.selectOption{
    color: #484848;
    font-weight: 700;
}

.catTitle{
    color: #484848;
    font-weight: 700;
    font-size: 18px;
}

.inputAdTitle{
    border: 1px solid #eee; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.adDetails{
    border: 2px solid #eee;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 30px;
}

.nextBtn{
    text-transform: none;
}

/// ********** UPLOAD Images ************
.upload{
    box-shadow: none !important;
    border: 2px dashed #eee;
    border-radius: 5px;
    margin-top: 40px;
}

.uploadImg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.uploadIcon{
    color: #e30b1c;
    font-size: 24px;
}

.uploadText{
    font-size: 15px;
    color: #484848;
    text-decoration: underline;
}

.skipBtn{
    color: #e30b1c;
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top:60px;
    margin-bottom: 30px;
}

// *********** Floating Chat Icon
#floatingChatIcon{
    margin: 33px 10px; 
    position: fixed; 
    background-color: #D90036; 
    color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }