<ion-content>
  <ion-card class="advertisement">
    <ion-label class="adTitle">Add new advertisement</ion-label>
    <ion-card-content class="cancelAd">
      <ion-label>Cancel</ion-label>
      <ion-icon class="cancelIcon" name="close-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <ion-card class="categories">
    <div class="categoriesHeader">
      <ion-label class="adTitle">categories</ion-label>
      <ion-icon name="search"></ion-icon>
    </div>

    <ion-grid [fixed]="true">
      <ion-row class="spaceBtn">
        <ion-col class="catBox" routerLink="/categories">
          <ion-card class="icons">
            <ion-icon name="home-outline"></ion-icon>
            <p class="icon_title">Real estate</p>
          </ion-card>
        </ion-col>

        <ion-col class="catBox">
          <ion-card class="icons">
            <ion-icon name="home-outline"></ion-icon>
            <p class="icon_title">Real estate</p>
          </ion-card>
        </ion-col>

        <ion-col class="catBox">
          <ion-card class="icons">
            <ion-icon name="home-outline"></ion-icon>
            <p class="icon_title">Real estate</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- ------------ FOOTER Section --------- -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    id="floatingChatIcon"
  >
    <ion-icon name="chatbubble"></ion-icon>
  </ion-fab>
</ion-content>
