//********** Advertisement title *****
.advertisement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
    margin: 60px 10px 20px;
    color: #484848;
    font-weight: 700;
}

.adTitle{
    font-size: 15px;
}

.cancelAd{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.cancelIcon{
    font-size: 20px;
}


.navigationBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px 40px;
    gap: 5px;
}

.navigationBar > div{
    border-radius: 5px;
    background-color:  #eee;
    height: 0.25rem;
    width: 20%;
}

//************ Categories Section ***********
.categories{
    margin: 20px 10px;
    padding: 20px 10px;
    border: 1px solid #eee;
    box-shadow: none !important;
}

.selectOption{
    margin: 20px 0;
    padding: 16px 10px;
    border: 1px solid #eee;
    box-shadow: none !important;
}

.categoriesHeader{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #484848;
}

// *********** Floating Chat Icon
#floatingChatIcon{
    margin: 33px 10px; 
    position: fixed; 
    background-color: #D90036; 
    color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }