<ion-content>
  <ion-card class="ion-no-margin header_card">
    <ion-card-header>
      <ion-card-title style="color: #e30b1c; font-weight: 700">
        FaB
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="signupImg">
    <img src="../../../assets/images/signup.jpg" />
  </div>

  <ion-text class="signupText">
    <h1 class="create">Create a new account</h1>
    <p>Please enter a valid phone number</p>
    <p>So you can receive the activation code through it</p>
  </ion-text>

  <div class="mobNumber">
    <ion-text class="countryCode">+971</ion-text>
    <ion-input type="number" placeholder="Enter a mobile number"></ion-input>
  </div>

  <ion-button color="danger" expand="block" class="verifyBtn"
    >Send the verification code</ion-button
  >

  <ion-text class="footerText">
    <p>
      Do you have an account?<ion-text
        class="termsAndConditions"
        routerLink="/login"
        >Sign in</ion-text
      >
    </p>
    <p class="termsAndConditions">
      Are you facing any problem or difficulties?
    </p>
    <p style="text-decoration: underline">Terms of Use and Privacy Policy</p>
  </ion-text>
</ion-content>
