<ion-content>
  <ion-card class="ion-no-margin header_card">
    <ion-card-header>
      <ion-card-title style="color: #e30b1c; font-weight: 700">
        FaB
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="signupImg">
    <img src="../../../assets/images/signup.jpg" />
  </div>

  <ion-text class="signupText">
    <h1 class="create">Sign in</h1>
  </ion-text>

  <div class="mobNumber">
    <ion-text class="countryCode">+971</ion-text>
    <ion-input type="number" placeholder="Enter a mobile number"></ion-input>
  </div>

  <div class="password">
    <ion-input type="password" placeholder="Enter the password"></ion-input>
  </div>

  <p style="text-decoration: underline; text-align: right">
    Forgot your password?
  </p>

  <ion-button color="danger" expand="block" class="signinBtn"
    >Sign in</ion-button
  >

  <ion-text class="footerText">
    <p>
      Don't have an account?<ion-text
        class="termsAndConditions"
        routerLink="/signup"
        >Create your account now</ion-text
      >
    </p>
    <p class="termsAndConditions">
      Are you facing any problem or difficulties?
    </p>
    <p style="text-decoration: underline">Terms of Use and Privacy Policy</p>
  </ion-text>
</ion-content>
