//********** Advertisement title *****
.advertisement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
    margin: 60px 0 0;
    color: #484848;
    font-weight: 700;
}

.adTitle{
    font-size: 15px;
}

.cancelAd{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
    padding: 0;
}

.cancelIcon{
    font-size: 24px;
}


.navigationBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 40px;
    // gap: 5px;
}

.navigationBar > div{
    border-radius: 5px;
    background-color:  #eee;
    height: 0.25rem;
    width: 18%;
}

//************ Categories Section ***********
.categories{
    // padding: 20px 10px;
    border: 1px solid #eee;
    box-shadow: none !important;
}

.selectOption{
    color: #484848;
    font-weight: 700;
}

.inputField{
    border: 1px solid #eee;
    border-radius: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.catTitle{
    color: #484848;
    font-weight: 700;
}

.nextBtn{
    text-align: center;
}

.selectDisplay > ion-select-option{
    width: 15px !important;
}

// *********** Floating Chat Icon
#floatingChatIcon{
    margin: 33px 10px; 
    position: fixed; 
    background-color: #D90036; 
    color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  $small-screen: 576px;
  $medium-screen: 768px;
  $large-screen: 992px;
  $extra-large-screen: 1200px;

@media (min-width: $large-screen) {
.btn {
    width: 900px;
}
}