<ion-content>
  <!-- Header for Large screen -->

  <ion-card class="topNav">
    <ion-card class="innerTopNav">
      <ion-img
        class="langImg"
        src="../../../assets/images/arabicLang.png"
      ></ion-img>
      <div class="topMenu">
        <div>
          <div>
            <ion-icon name="person-circle"></ion-icon>
          </div>
          <p class="topMenu_icon_title">My account</p>
        </div>
        <div>
          <div>
            <ion-icon name="notifications"></ion-icon>
          </div>
          <p class="topMenu_icon_title">Notification</p>
        </div>
      </div>
    </ion-card>

    <ion-card class="mainNav">
      <div class="logo">
        <ion-img
          class="websiteTitle"
          src="../../../assets/images/fabLogo.png"
          (click)="goToHome()"
        />
      </div>
      <div class="menu" (click)="goToHome()">Home Page</div>
      <div class="menu" (click)="goToStickyAds()">Sticky Ads</div>
      <div class="menu" (click)="goToCommercialAds()">Commercials Ads</div>
      <div>
        <div class="addNewAds" (click)="goToAddNewAd()">Add Your Ad Now</div>
      </div>
    </ion-card>
  </ion-card>
  <!-- ---------------------------------- -->

  <ion-card class="advertisement">
    <ion-label class="adTitle">Add new advertisement</ion-label>
    <ion-card-content class="cancelAd" (click)="goBack()">
      <ion-label>Back</ion-label>
      <ion-icon class="cancelIcon" name="chevron-forward"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <div class="adContent">
    <ion-card class="categories">
      <ion-card-header>
        <ion-card-title class="catTitle"
          >Real Estate Information</ion-card-title
        >
      </ion-card-header>

      <ion-card-content class="selectOption">
        <ion-text>Size of realestate</ion-text>
        <ion-input
          type="number"
          placeholder="Size of realestate"
          class="inputAdTitle"
        />
        <ion-text>Location</ion-text>
        <ion-input type="text" placeholder="Location" class="inputAdTitle" />

        <!-- <ion-text>Bedrooms</ion-text>
        <div class="select2style">
          <select id="mySelect" placeholder="Select an option"></select>
        </div> -->

        <ion-button
          class="nextBtn"
          color="danger"
          expand="block"
          (click)="goToUploadImage()"
          >Next Step</ion-button
        >
      </ion-card-content>
    </ion-card>

    <div class="adImg">
      <img src="../../../assets/images/advertisement.jpg" />
    </div>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    id="floatingChatIcon"
  >
    <ion-icon name="chatbubble"></ion-icon>
  </ion-fab>
</ion-content>
